body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: sans-serif;
    overflow: hidden; /* Hide scrollbars from falling eggs */
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 10;
}

#logo {
    width: 250px;
    animation: float 6s ease-in-out infinite;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

#logo:active {
    transform: scale(0.95);
}


#title {
    font-family: 'Fredoka One', cursive;
    font-size: 7rem;
    color: #FFD700; /* Gold color */
    text-shadow: 
        -3px -3px 0 #000,  
         3px -3px 0 #000,
        -3px  3px 0 #000,
         3px  3px 0 #000,
         -3px  4px 0 #a58900,
         3px  4px 0 #a58900;
    margin-top: 1rem;
    user-select: none;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-25px);
    }
    100% {
        transform: translatey(0px);
    }
}

.falling-egg {
    position: absolute;
    top: -100px; /* Start above the screen */
    background-image: url('/eggcoinx.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall linear forwards;
    z-index: 1;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
    }
}

